

{% comment %}

This is so if you make different pages you can use different titles for each
if you dont then all pages will default to this base.html title

{% endcomment %}


{% block title %}
<title>
</title>
{% endblock title%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}


    {% endblock content %}
</body>
</html>
{% comment %}


this is the base template so any other page you make you would use the block content and then extend this template
to that page.


{% endcomment %}
