{% extends 'base.html' %}

{% block title %}
<title>
Flashcards
</title>
{% endblock title %}

{% block content %}


<ul>
  {% for cards in flashcards %}
    <li>{{ cards.question }} </li>
  {% endfor %}
</ul>



{% endblock content %}

{% comment %}



you had the right idea to use the block content tags but there's no point in having them
if you dont have a base template first and after creating one you have to extend it

the inside of the block content tags is basically inside the body tag in base.html
so treat it like such.


{% endcomment %}
